/* Impostazione pagina */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
    font-size: 20px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

/* end Impostazione pagina */


/* Sezioni */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    margin: 0 auto;
}

footer {
    background-color: #23272a;
    color: white;
    padding-top: 50px;
}

/* end Sezioni */


/* Intestazione pagina e navigazione */

.menù-navigazione {
    padding: 20px;
}

/* #logo {
    justify-content: flex-start;
}

#pulsante-accedi {
    justify-content: flex-end;
} */


h1 {
    padding-bottom: 30px;
    font-size: 3rem;
}

.intestazione {
    text-align: center;
}

.intestazione-container {
    padding-top: 75px;
    padding-bottom: 50px;
}

.pulsanti-scarica {
    padding-bottom: 150px;
}

/* end Intestazione pagina e navigazione */


/* Contenuto pagina */

/* end Contenuto pagina */


/* Info utili */

/* end Info utili */